{{ define "main" }}
{{ $resume := .Site.Data.resume.index }}
{{ partial "nav.html" . }}

<div class="one-page-content-wrapper">
    <div class="elementor elementor-181 resume">
        {{ partial "scroller/home.html" . }}

        {{ partial "scroller/about.html" . }}

        {{ partial "scroller/skill.html" . }}

        {{ partial "scroller/experience.html" . }}
        
        {{ partial "scroller/project.html" . }}

        {{ partial "scroller/education.html" . }}

    </div>
</div>
{{ end }}