.elementor-kit-648 {
    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-color-626a10c3: #4054b2;
    --e-global-color-64a3479f: #23a455;
    --e-global-color-5f13d025: #000;
    --e-global-color-6ce2dcd8: #fff;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px
}

.e-con {
    --container-max-width: 1140px
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px
}

.elementor-element {
    --widgets-spacing: 20px
}

h1.entry-title {
    display: var(--page-title-display)
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px
    }

    .e-con {
        --container-max-width: 1024px
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px
    }

    .e-con {
        --container-max-width: 767px
    }
}

.elementor-181 .elementor-element.elementor-element-3cda06bf>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-3cda06bf {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-3cda06bf>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-589a8709.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-589a8709.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-589a8709>.elementor-element-populated {
    padding: 0
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-a8c012a.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-a8c012a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-a8c012a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-a8c012a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f0deca
}

.elementor-181 .elementor-element.elementor-element-a8c012a>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 10% 20%
}

.elementor-181 .elementor-element.elementor-element-a8c012a>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-ce6fe0d {
    text-align: left
}

.elementor-181 .elementor-element.elementor-element-3f957272 .elementor-heading-title {
    font-size: 100px;
    font-weight: 200;
    line-height: 94px;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-160c4806 {
    width: var(--container-widget-width, 150px);
    max-width: 150px;
    --container-widget-width: 150px;
    --container-widget-flex-grow: 0;
    bottom: 0
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-160c4806 {
    right: -180px
}

body.rtl .elementor-181 .elementor-element.elementor-element-160c4806 {
    left: -180px
}

.elementor-181 .elementor-element.elementor-element-3c2f0808>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-3c2f0808 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-3c2f0808>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-4e2591d8.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-4e2591d8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-4e2591d8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-4e2591d8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #198597
}

.elementor-181 .elementor-element.elementor-element-4e2591d8>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-4e2591d8>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-570ae41d {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-570ae41d .elementor-heading-title {
    color: #fcf7f1;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-1a7fbc57:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-1a7fbc57>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-1a7fbc57>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-1a7fbc57>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-35fa5410 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px
}

.elementor-181 .elementor-element.elementor-element-4cd330f8 {
    margin-top: -10px;
    margin-bottom: 0
}

.elementor-181 .elementor-element.elementor-element-177ba07f>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-181 .elementor-element.elementor-element-177ba07f>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-4ec03c3a img {
    width: 120px
}

.elementor-181 .elementor-element.elementor-element-4f9bfd94 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-4f9bfd94 .elementor-heading-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px
}

.elementor-181 .elementor-element.elementor-element-4f9bfd94>.elementor-widget-container {
    margin: -10px 0 0
}

.elementor-181 .elementor-element.elementor-element-5cf5e7b>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-181 .elementor-element.elementor-element-5cf5e7b>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-51260be img {
    width: 120px
}

.elementor-181 .elementor-element.elementor-element-5440dcb {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-5440dcb .elementor-heading-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px
}

.elementor-181 .elementor-element.elementor-element-5440dcb>.elementor-widget-container {
    margin: -10px 0 0
}

.elementor-181 .elementor-element.elementor-element-5a880b7>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-181 .elementor-element.elementor-element-5a880b7>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-b2572a7 img {
    width: 120px
}

.elementor-181 .elementor-element.elementor-element-7d52452 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-7d52452 .elementor-heading-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px
}

.elementor-181 .elementor-element.elementor-element-7d52452>.elementor-widget-container {
    margin: -10px 0 0
}

.elementor-181 .elementor-element.elementor-element-6298d834 {
    width: var(--container-widget-width, 94px);
    max-width: 94px;
    --container-widget-width: 94px;
    --container-widget-flex-grow: 0;
    top: 30px
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-6298d834 {
    left: -100px
}

body.rtl .elementor-181 .elementor-element.elementor-element-6298d834 {
    right: -100px
}

.elementor-181 .elementor-element.elementor-element-139ca579 .portfolio-text-holder {
    background-color: #f0deca
}

.elementor-181 .elementor-element.elementor-element-139ca579 .portfolio-text {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-139ca579 .portfolio-cat {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-139ca579 .portfolio-cat:before {
    background-color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-139ca579 .close-icon {
    background-color: #f8a577
}

.elementor-181 .elementor-element.elementor-element-139ca579 .more-posts-portfolio-holder {
    background-color: #198597
}

.elementor-181 .elementor-element.elementor-element-139ca579 .more-posts-portfolio {
    color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-139ca579 .no-more-posts-portfolio {
    color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-139ca579 .more-posts-portfolio-loading {
    color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-139ca579 .more-posts-portfolio:hover {
    color: #3eb4c7
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-ff90d72.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-ff90d72.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-ff90d72:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-ff90d72>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f8a577
}

.elementor-181 .elementor-element.elementor-element-ff90d72>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-ff90d72>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-57569195 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-57569195 .elementor-heading-title {
    color: #fcf7f1;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-20d8bfb3>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-20d8bfb3 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-20d8bfb3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-7bbb1bfe.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-7bbb1bfe.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-7bbb1bfe:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-7bbb1bfe>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff48f
}

.elementor-181 .elementor-element.elementor-element-7bbb1bfe>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-7bbb1bfe>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-7310c760 {
    width: var(--container-widget-width, 150px);
    max-width: 150px;
    --container-widget-width: 150px;
    --container-widget-flex-grow: 0;
    top: -55px
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-7310c760 {
    left: -75px
}

body.rtl .elementor-181 .elementor-element.elementor-element-7310c760 {
    right: -75px
}

.elementor-181 .elementor-element.elementor-element-3024b7c7 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-3024b7c7 .elementor-heading-title {
    color: #9e7e63;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-32c3cde7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-32c3cde7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-32c3cde7>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-32c3cde7>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-64321d12 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px
}

.elementor-181 .elementor-element.elementor-element-64666b64 {
    width: var(--container-widget-width, 560px);
    max-width: 560px;
    --container-widget-width: 560px;
    --container-widget-flex-grow: 0
}

.elementor-181 .elementor-element.elementor-element-5d2df679 {
    text-align: right
}

.elementor-181 .elementor-element.elementor-element-5d2df679 img {
    width: 130px
}

.elementor-181 .elementor-element.elementor-element-5d2df679>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-181 .elementor-element.elementor-element-22d6fdac {
    width: var(--container-widget-width, 110px);
    max-width: 110px;
    --container-widget-width: 110px;
    --container-widget-flex-grow: 0;
    bottom: -40px
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-22d6fdac {
    right: -190px
}

body.rtl .elementor-181 .elementor-element.elementor-element-22d6fdac {
    left: -190px
}

.elementor-181 .elementor-element.elementor-element-48198d00>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-48198d00 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-48198d00>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-67f9096e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-67f9096e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f0deca
}

.elementor-181 .elementor-element.elementor-element-67f9096e>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-67f9096e>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-51c9fb72 .skill-fill {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-51c9fb72 .skill {
    background-color: #fff
}

.elementor-181 .elementor-element.elementor-element-51c9fb72 .skill-num {
    color: #bea17d
}

.elementor-181 .elementor-element.elementor-element-1380b9f8 {
    width: var(--container-widget-width, 100px);
    max-width: 100px;
    --container-widget-width: 100px;
    --container-widget-flex-grow: 0;
    bottom: 0
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-1380b9f8 {
    left: -185px
}

body.rtl .elementor-181 .elementor-element.elementor-element-1380b9f8 {
    right: -185px
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-696e0f2e.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-696e0f2e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-696e0f2e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-696e0f2e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff48f;
}

.elementor-181 .elementor-element.elementor-element-696e0f2e>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-696e0f2e>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-48629353 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-48629353 .elementor-heading-title {
    color: #9e7e63;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-4616d8f>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-4616d8f {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-4616d8f>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-5cf8d351.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-5cf8d351.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-5cf8d351:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-5cf8d351>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f8a577
}

.elementor-181 .elementor-element.elementor-element-5cf8d351>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-5cf8d351>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-1ff21d9b {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-1ff21d9b .elementor-heading-title {
    color: #fcf7f1;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-705ff71b {
    width: var(--container-widget-width, 94px);
    max-width: 94px;
    --container-widget-width: 94px;
    --container-widget-flex-grow: 0;
    bottom: -560px
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-705ff71b {
    right: 0
}

body.rtl .elementor-181 .elementor-element.elementor-element-705ff71b {
    left: 0
}

.elementor-181 .elementor-element.elementor-element-483cd999:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-483cd999>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-483cd999>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-483cd999>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-76b9110 .timeline-event-date {
    color: #188497
}

.elementor-181 .elementor-element.elementor-element-76b9110 li.timeline-event:before {
    background: #188497
}

.elementor-181 .elementor-element.elementor-element-76b9110 span.timeline-circle:before {
    border-color: #188497
}

.elementor-181 .elementor-element.elementor-element-76b9110 li.timeline-event span.timeline-circle:after {
    background: #188497
}

.elementor-181 .elementor-element.elementor-element-da7ba6b>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-da7ba6b {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-da7ba6b>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-359bfd64:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-359bfd64>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f0deca
}

.elementor-181 .elementor-element.elementor-element-359bfd64>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-359bfd64>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-51c97412 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px
}

.elementor-181 .elementor-element.elementor-element-33d653a .elementor-icon-wrapper {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-33d653a.elementor-view-stacked .elementor-icon {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-33d653a.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-33d653a.elementor-view-default .elementor-icon {
    color: #188497;
    border-color: #188497
}

.elementor-181 .elementor-element.elementor-element-33d653a.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-33d653a.elementor-view-default .elementor-icon svg {
    fill: #188497
}

.elementor-181 .elementor-element.elementor-element-33d653a .elementor-icon {
    font-size: 60px
}

.elementor-181 .elementor-element.elementor-element-33d653a .elementor-icon svg {
    height: 60px
}

.elementor-181 .elementor-element.elementor-element-b184479 .elementor-counter-number-wrapper {
    color: #7a5932;
    font-size: 60px;
    font-weight: 700
}

.elementor-181 .elementor-element.elementor-element-b184479 .elementor-counter-title {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-d88baaf .elementor-icon-wrapper {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-d88baaf.elementor-view-stacked .elementor-icon {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-d88baaf.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-d88baaf.elementor-view-default .elementor-icon {
    color: #188497;
    border-color: #188497
}

.elementor-181 .elementor-element.elementor-element-d88baaf.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-d88baaf.elementor-view-default .elementor-icon svg {
    fill: #188497
}

.elementor-181 .elementor-element.elementor-element-d88baaf .elementor-icon {
    font-size: 60px
}

.elementor-181 .elementor-element.elementor-element-d88baaf .elementor-icon svg {
    height: 60px
}

.elementor-181 .elementor-element.elementor-element-b022c2f .elementor-counter-number-wrapper {
    color: #7a5932;
    font-size: 60px;
    font-weight: 700
}

.elementor-181 .elementor-element.elementor-element-b022c2f .elementor-counter-title {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-f1559ef {
    margin-top: 20px;
    margin-bottom: 0
}

.elementor-181 .elementor-element.elementor-element-a43a098 .elementor-icon-wrapper {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-a43a098.elementor-view-stacked .elementor-icon {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-a43a098.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-a43a098.elementor-view-default .elementor-icon {
    color: #188497;
    border-color: #188497
}

.elementor-181 .elementor-element.elementor-element-a43a098.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-a43a098.elementor-view-default .elementor-icon svg {
    fill: #188497
}

.elementor-181 .elementor-element.elementor-element-a43a098 .elementor-icon {
    font-size: 60px
}

.elementor-181 .elementor-element.elementor-element-a43a098 .elementor-icon svg {
    height: 60px
}

.elementor-181 .elementor-element.elementor-element-471bd6e .elementor-counter-number-wrapper {
    color: #7a5932;
    font-size: 60px;
    font-weight: 700
}

.elementor-181 .elementor-element.elementor-element-471bd6e .elementor-counter-title {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-8fc8e8a .elementor-icon-wrapper {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-8fc8e8a.elementor-view-stacked .elementor-icon {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-8fc8e8a.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-8fc8e8a.elementor-view-default .elementor-icon {
    color: #188497;
    border-color: #188497
}

.elementor-181 .elementor-element.elementor-element-8fc8e8a.elementor-view-framed .elementor-icon,
.elementor-181 .elementor-element.elementor-element-8fc8e8a.elementor-view-default .elementor-icon svg {
    fill: #188497
}

.elementor-181 .elementor-element.elementor-element-8fc8e8a .elementor-icon {
    font-size: 60px
}

.elementor-181 .elementor-element.elementor-element-8fc8e8a .elementor-icon svg {
    height: 60px
}

.elementor-181 .elementor-element.elementor-element-09cb85b .elementor-counter-number-wrapper {
    color: #7a5932;
    font-size: 60px;
    font-weight: 700
}

.elementor-181 .elementor-element.elementor-element-09cb85b .elementor-counter-title {
    color: #7a5932
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-78db0d70.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-78db0d70.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-78db0d70:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-78db0d70>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-78db0d70>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-78db0d70>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-4cfc3491 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-4cfc3491 .elementor-heading-title {
    color: #fcf7f1;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-8e975f3 {
    width: var(--container-widget-width, 150px);
    max-width: 150px;
    --container-widget-width: 150px;
    --container-widget-flex-grow: 0;
    bottom: -460px
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-8e975f3 {
    left: -95px
}

body.rtl .elementor-181 .elementor-element.elementor-element-8e975f3 {
    right: -95px
}

.elementor-181 .elementor-element.elementor-element-ed556fe>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-ed556fe {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-ed556fe>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-084f4de.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-084f4de.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-084f4de:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-084f4de>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff48f
}

.elementor-181 .elementor-element.elementor-element-084f4de>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-084f4de>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-be89dfd {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-be89dfd .elementor-heading-title {
    color: #9e7e63;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-e68b90a {
    width: var(--container-widget-width, 150px);
    max-width: 150px;
    --container-widget-width: 150px;
    --container-widget-flex-grow: 0;
    bottom: -460px
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-e68b90a {
    left: -95px
}

body.rtl .elementor-181 .elementor-element.elementor-element-e68b90a {
    right: -95px
}

.elementor-181 .elementor-element.elementor-element-e90c515:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-e90c515>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fcf7f1
}

.elementor-181 .elementor-element.elementor-element-e90c515>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-e90c515>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-92676b2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px
}

.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-tab-title {
    border-width: 0;
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-tab-content {
    border-width: 0;
    background-color: #faeddf;
    padding: 23px 25px
}

.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-toggle-item:not(:last-child) {
    margin-bottom: 20px
}

.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-toggle-title,
.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-toggle-icon {
    color: #fff
}

.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-toggle-icon svg {
    fill: #fff
}

.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-tab-title.elementor-active a,
.elementor-181 .elementor-element.elementor-element-5ba660d .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #fff
}

.elementor-181 .elementor-element.elementor-element-5fd454b>.elementor-container {
    max-width: 1150px
}

.elementor-181 .elementor-element.elementor-element-5fd454b {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-181 .elementor-element.elementor-element-5fd454b>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-e295157:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-e295157>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f0deca
}

.elementor-181 .elementor-element.elementor-element-e295157>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 13% 18%
}

.elementor-181 .elementor-element.elementor-element-e295157>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-6527f1b {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7-form {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7 input {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7 textarea {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .input-default-text {
    color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7-form input[type=submit] {
    border-color: #7a5932
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7-form input[type=submit]:hover {
    background-color: #7a5932;
    color: #f0deca
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7 form.invalid .wpcf7-response-output,
.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7 form.unaccepted .wpcf7-response-output,
.elementor-181 .elementor-element.elementor-element-1251cf2 span.wpcf7-not-valid-tip {
    background-color: #188497
}

.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7 form.invalid .wpcf7-response-output,
.elementor-181 .elementor-element.elementor-element-1251cf2 .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #188497
}

.elementor-181 .elementor-element.elementor-element-1251cf2>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-bc-flex-widget .elementor-181 .elementor-element.elementor-element-b1fdfa8.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-b1fdfa8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-181 .elementor-element.elementor-element-b1fdfa8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-181 .elementor-element.elementor-element-b1fdfa8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f8a577
}

.elementor-181 .elementor-element.elementor-element-b1fdfa8>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 150px 10px
}

.elementor-181 .elementor-element.elementor-element-b1fdfa8>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-181 .elementor-element.elementor-element-023d7f4 {
    text-align: center
}

.elementor-181 .elementor-element.elementor-element-023d7f4 .elementor-heading-title {
    color: #fcf7f1;
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -4px
}

.elementor-181 .elementor-element.elementor-element-cfdb3c9 {
    width: var(--container-widget-width, 110px);
    max-width: 110px;
    --container-widget-width: 110px;
    --container-widget-flex-grow: 0;
    bottom: 0
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-cfdb3c9 {
    left: -55px
}

body.rtl .elementor-181 .elementor-element.elementor-element-cfdb3c9 {
    right: -55px
}

@media(max-width:1024px) {
    .elementor-181 .elementor-element.elementor-element-a8c012a>.elementor-element-populated {
        padding: 10%
    }

    .elementor-181 .elementor-element.elementor-element-3f957272 .elementor-heading-title {
        font-size: 66px;
        line-height: 60px
    }

    .elementor-181 .elementor-element.elementor-element-4e2591d8>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-570ae41d .elementor-heading-title {
        font-size: 40px
    }

    .elementor-181 .elementor-element.elementor-element-1a7fbc57>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-ff90d72>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-57569195 .elementor-heading-title {
        font-size: 40px
    }

    .elementor-181 .elementor-element.elementor-element-7bbb1bfe>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-3024b7c7 .elementor-heading-title {
        font-size: 40px
    }

    .elementor-181 .elementor-element.elementor-element-32c3cde7>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-67f9096e>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-696e0f2e>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-48629353 .elementor-heading-title {
        font-size: 40px
    }

    .elementor-181 .elementor-element.elementor-element-5cf8d351>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-1ff21d9b .elementor-heading-title {
        font-size: 40px
    }

    .elementor-181 .elementor-element.elementor-element-483cd999>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-359bfd64>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-78db0d70>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-4cfc3491 .elementor-heading-title {
        font-size: 40px;
        letter-spacing: -2px
    }

    .elementor-181 .elementor-element.elementor-element-084f4de>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-be89dfd .elementor-heading-title {
        font-size: 40px;
        letter-spacing: -2px
    }

    .elementor-181 .elementor-element.elementor-element-e90c515>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-e295157>.elementor-element-populated {
        padding: 13% 10%
    }

    .elementor-181 .elementor-element.elementor-element-b1fdfa8>.elementor-element-populated {
        padding: 100px 10px
    }

    .elementor-181 .elementor-element.elementor-element-023d7f4 .elementor-heading-title {
        font-size: 40px
    }
}

@media(max-width:767px) {
    .elementor-181 .elementor-element.elementor-element-a8c012a.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-181 .elementor-element.elementor-element-a8c012a>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-3f957272 .elementor-heading-title {
        font-size: 50px;
        line-height: 50px
    }

    .elementor-181 .elementor-element.elementor-element-7ac381db>.elementor-widget-container {
        margin: 0
    }

    .elementor-181 .elementor-element.elementor-element-4e2591d8>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-1a7fbc57>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-ff90d72>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-7bbb1bfe>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-32c3cde7>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-67f9096e>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-696e0f2e>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-5cf8d351>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-181 .elementor-element.elementor-element-5cf8d351>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-483cd999>.elementor-element-populated {
        padding: 30px 15px 30px 30px
    }

    .elementor-181 .elementor-element.elementor-element-359bfd64>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-78db0d70>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-181 .elementor-element.elementor-element-78db0d70>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-084f4de>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-181 .elementor-element.elementor-element-084f4de>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-e90c515>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-e295157>.elementor-element-populated {
        padding: 30px 15px
    }

    .elementor-181 .elementor-element.elementor-element-1251cf2>.elementor-widget-container {
        margin: 0
    }

    .elementor-181 .elementor-element.elementor-element-b1fdfa8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-181 .elementor-element.elementor-element-b1fdfa8>.elementor-element-populated {
        padding: 30px 15px
    }
}

.elementor-479 .elementor-element.elementor-element-6ccd5ffe {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 30px 0
}

.elementor-479 .elementor-element.elementor-element-6ccd5ffe>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-479 .elementor-element.elementor-element-30ee043c>.elementor-container {
    max-width: 500px
}

.elementor-479 .elementor-element.elementor-element-768c551b.elementor-column>.elementor-widget-wrap {
    justify-content: space-evenly
}

.elementor-479 .elementor-element.elementor-element-35526a .elementor-icon-wrapper {
    text-align: center
}

.elementor-479 .elementor-element.elementor-element-35526a .elementor-icon {
    font-size: 28px
}

.elementor-479 .elementor-element.elementor-element-35526a .elementor-icon svg {
    height: 28px
}

.elementor-479 .elementor-element.elementor-element-35526a {
    width: initial;
    max-width: initial
}

.elementor-479 .elementor-element.elementor-element-e55178 .elementor-icon-wrapper {
    text-align: center
}

.elementor-479 .elementor-element.elementor-element-e55178 .elementor-icon {
    font-size: 28px
}

.elementor-479 .elementor-element.elementor-element-e55178 .elementor-icon svg {
    height: 28px
}

.elementor-479 .elementor-element.elementor-element-e55178 {
    width: initial;
    max-width: initial
}

.elementor-479 .elementor-element.elementor-element-312444eb .elementor-icon-wrapper {
    text-align: center
}

.elementor-479 .elementor-element.elementor-element-312444eb .elementor-icon {
    font-size: 28px
}

.elementor-479 .elementor-element.elementor-element-312444eb .elementor-icon svg {
    height: 28px
}

.elementor-479 .elementor-element.elementor-element-312444eb {
    width: initial;
    max-width: initial
}

.elementor-479 .elementor-element.elementor-element-2089bfb8 .elementor-icon-wrapper {
    text-align: center
}

.elementor-479 .elementor-element.elementor-element-2089bfb8 .elementor-icon {
    font-size: 28px
}

.elementor-479 .elementor-element.elementor-element-2089bfb8 .elementor-icon svg {
    height: 28px
}

.elementor-479 .elementor-element.elementor-element-2089bfb8 {
    width: initial;
    max-width: initial
}

.elementor-479 .elementor-element.elementor-element-6ef87128 {
    text-align: center
}