.skill {
    width: 100%;
    height: 12px;
    background-color: #fff;
    position: relative
}

.sub-header {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: var(--bs-border-radius);
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}

.badge-light {
    color: #188497;
    background: #fff;
}

.badge-dark {
    background-color: #188497;
}

.contact-head {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.resume-button {
    color: #7a5932;
    font-weight: 700;
    border: 2px solid #7a5932;
    text-align: center;
    position: relative;
    padding: 20px 0;
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    transition: all .3s ease;
}

.resume-button:hover {
    background-color: #7a5932;
    color: #f0deca;
}

.resume-company {
    padding-bottom: 3rem;
}

.resume-company-name {
    font-weight: 500;
}

.resume-position-title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2;
}

.resume-position-time, .timeline-event-content span {
    font-size: 0.875rem;
}

.resume-timeline-item-desc > p {
    margin-bottom: 1em;
}

.timeline-event-content .timeline-school {
    line-height: 1.5rem;
}