<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Projects</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
            {{ $list := sort .Site.Data.resume.oss "name" }}
            {{ $len := (len $list) }}
            {{ range $index, $element := $list }}
            {{ if eq (add $index 1) $len }}
            <article class="resume-timeline-item position-relative">
            {{ else }}
            <article class="resume-timeline-item position-relative pb-5">
            {{ end }}
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1"><a  class="text-link" href="{{ .url }}">{{ .name }}</a></h3>
                        <div class="resume-position-time ms-auto">{{ .type }}</div>
                    </div><!--//row-->
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    {{ with .blurb }}<p>{{ . | markdownify }}</p>{{ end }}
                    <ul class="list-inline">
                        {{ range sort .technologies}} 
                        <li class="list-inline-item"><span class="badge bg-secondary badge-pill">{{ . }}</span></li>
                        {{ end }}
                    </ul>
                </div><!--//resume-timeline-item-desc-->
            </article><!--//resume-timeline-item-->
            {{ end }}
        </div><!--//resume-timeline-->
    </div>
</section><!--//experience-section-->