<footer class="footer center-relative">
    <div class="footer-content">
        <div class="elementor elementor-479">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-6ccd5ffe elementor-section-boxed" id="contact">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-22899d50">
                        <div class="elementor-widget-wrap elementor-element-populated">

                            <div class="contact-head">Contact Platform</div>

                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-30ee043c elementor-section-boxed">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-768c551b">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-35526a elementor-widget__width-initial elementor-view-default elementor-widget elementor-widget-icon">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-wrapper"> 
                                                        <a class="elementor-icon" href="{{ .Site.Data.resume.index.contact.linkedin.url }}"><i aria-hidden="true" class="fab fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-e55178 elementor-widget__width-initial elementor-view-default elementor-widget elementor-widget-icon">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-wrapper">
                                                        <a class="elementor-icon" href="{{ .Site.Data.resume.index.contact.github.url }}"><i aria-hidden="true" class="fab fa-github-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-312444eb elementor-widget__width-initial elementor-view-default elementor-widget elementor-widget-icon">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-icon-wrapper"> 
                                                        <a class="elementor-icon" href="{{ .Site.Data.resume.index.contact.email.url }}"><i aria-hidden="true" class="fa fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="elementor-element elementor-element-6ef87128 elementor-widget elementor-widget-text-editor"
                                data-id="6ef87128" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p>© {{ now.Year }} <a href="/">Virsyne</a>. All Rights Reserved. <br>Theme by <a href="https://cocobasic.com/">CocoBasic</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
<script type='text/javascript'>
var elementorFrontendConfig = { 
  "environmentMode": { 
    "edit": false, "wpPreview": false, "isScriptDebug": false 
  }, 
  "breakpoints": { 
    "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 
  }, 
  "responsive": { 
    "breakpoints": { "mobile": { "label": "Mobile Portrait", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Landscape", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet Portrait", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Landscape", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } 
  }, 
  "version": "3.15.1", "is_static": false, 
  "experimentalFeatures": { 
    "e_dom_optimization": true, "e_optimized_assets_loading": true, "additional_custom_breakpoints": true, "landing-pages": true 
  }, 
  "urls": { 
    "assets": "#" 
  }, 
  "swiperClass": "swiper-container", 
  "settings": { 
    "page": [], "editorPreferences": [] 
  }, 
  "kit": { 
    "global_image_lightbox": "yes", "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" 
  },
};
</script>
<script defer src="/assets/js/bulkplugins.js"></script>

<script type="text/javascript" src="/assets/plugins/typed.js/typed.umd.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>