    <title>{{ .Params.title }}</title>
    
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name='robots' content='max-image-preview:large' />
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">    
    <link rel="shortcut icon" href="/assets/favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800%7CPrata&#038;ver=1.0.00" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CRoboto+Slab:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&#038;display=auto&#038;ver=6.2.2" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/elementor-base.css">
    <link rel="stylesheet" href="/assets/css/cocobasic.css">
    <link rel="stylesheet" href="/assets/css/elementor-custom.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <!--[if lt IE 9]> <script type='text/javascript' src='/assets/js/html5shiv.css'></script> <![endif]-->
    <!--[if lt IE 9]> <script type='text/javascript' src='/assets/js/respond.min.js'></script> <![endif]-->
    <script type='text/javascript' src='/assets/js/jquery.min.js'></script>