    <title>{{ .Site.Params.title }}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <!-- FontAwesome JS-->
	<script defer src="/assets/plugins/fontawesome/js/all.min.js"></script>
       
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/plugins/aos/aos.css">
    <link id="theme-style" rel="stylesheet" href="/assets/css/pillar-{{ .Site.Params.styles }}.css">
    <link id="custom-style" rel="stylesheet" href="/assets/css/style.css">