<header>
    <div class="header-left-part">
        <div class="toggle-holder">
            <div id="toggle" class="">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="site-title"> <a href="/">{{ upper .Site.Data.resume.index.name }}</a></div>
        <div class="menu-social">
            <a href="{{ .Site.Data.resume.index.contact.linkedin.url }}" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a>
            <a href="{{ .Site.Data.resume.index.contact.github.url }}" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a>
            <a href="{{ .Site.Data.resume.index.contact.email.url }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
        </div>
    </div>
    <div class="header-right-part">
        <div class="menu-wrapper center-relative relative">
            <div class="menu-holder">
                <nav id="header-main-menu">
                    <ul class="main-menu sm sm-clean">
                        {{ range site.Menus.nav }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>