<section class="elementor-section elementor-top-section elementor-element elementor-element-3cda06bf op-section elementor-section-boxed" id="home">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-589a8709 elementor-hidden-phone">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-59838137 elementor-widget elementor-widget-image">
                    <div class="elementor-widget-container">
                        <img decoding="async" width="390" height="650" src="/assets/images/mascot.jpg" class="attachment-full size-full wp-image-549" alt="" loading="lazy" sizes="(max-width: 390px) 100vw, 390px" /></div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-a8c012a">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-ce6fe0d elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image">
                    <div class="elementor-widget-container"> <img decoding="async" width="390" height="390"
                            src="/assets/images/mascot-phone.jpg"
                            class="attachment-full size-full wp-image-637" alt="" loading="lazy" sizes="(max-width: 390px) 100vw, 390px" /></div>
                </div>
                <div class="elementor-element elementor-element-3f957272 elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                        <h1 class="elementor-heading-title elementor-size-default">
                            Hello <br>I’m Jin
                        </h1>
                        <h3 class="elementor-heading elementor-size-default">
                            <span class="typed" data-typed-items="A Developer, From Kuala Lumpur"></span></p>
                        </h3>
                            <a href="/resume" target="_blank"><div class="resume-button">Get Printable Resume</div></a>
                    </div>
                </div>
                <div class="elementor-element elementor-element-160c4806 cocobasic-left-rigt elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image">
                    <div class="elementor-widget-container"> 
                        <img decoding="async" width="310" height="70" src="/assets/images/zigzag.png" class="attachment-full size-full wp-image-525" alt="" loading="lazy" sizes="(max-width: 310px) 100vw, 310px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>