<section class="elementor-section elementor-top-section elementor-element elementor-element-da7ba6b op-section elementor-reverse-mobile elementor-section-boxed" id="project">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-359bfd64">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-45b439f elementor-widget elementor-widget-text-editor">
                    <div class="elementor-widget-container">
                        {{ $list := sort .Site.Data.resume.oss "name" }}
                        {{ range $index, $element := $list }}
                        <article class="resume-company">
                            <div class="resume-position-time">{{ .type }}</div>
                            <div class="resume-position-title"><a class="text-link" href="{{ .url }}">{{ .name }}</a></div>
                            <div class="resume-timeline-item-desc">
                                {{ with .blurb }}<p>{{ . | markdownify }}</p>{{ end }}
                                <ul class="list-inline">
                                    {{ range sort .technologies}} 
                                    <li class="list-inline-item"><span class="badge badge-light">{{ . }}</span></li>
                                    {{ end }}
                                </ul>
                            </div><!--//resume-timeline-item-desc-->
                        </article><!--//resume-timeline-item-->
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-78db0d70 cocobasic-column-align">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-4cfc3491 elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Projects</h2>
                    </div>
                </div>

                <div class="elementor-element elementor-element-22d6fdac cocobasic-rotate elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image">
                    <div class="elementor-widget-container">
                        <img decoding="async" width="220" height="220" src="/assets/images/square.png" class="attachment-full size-full wp-image-528" alt="" loading="lazy" sizes="(max-width: 220px) 100vw, 220px" />
                    </div>
                </div>

                <div class="elementor-element elementor-element-8e975f3 cocobasic-left-rigt elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image">
                    <div class="elementor-widget-container">
                        <img decoding="async" width="310" height="70" src="/assets/images/zigzag.png" class="attachment-full size-full wp-image-525" alt="" loading="lazy" sizes="(max-width: 310px) 100vw, 310px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>